/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ------**searching-part-starting**------ */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.icon{
    font-size:40px;
    margin:auto;
    
}
#search{
    box-shadow: 0 0 3px 5px rgba(128, 128, 128, 0.74);
    transition: 0.5s;
    transform:scale(.9);
    z-index: -1;
    background:rgba(0,0,0,.8);
    color:white
}
#search:hover{
    transform:scale(1);
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74); 
}

#card-1{
box-shadow: 0 0 15px 8px rgba(128, 128, 128, 0.74);
/* background-color: rgba(127, 255, 212, 0.322) */

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* -----**Information-Starting**----- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.container{
    margin-left:1%
}
#info{
    box-shadow: 0 0 3px 5px rgb(250, 215, 215);
}

h5{
    text-align:center
}
.content{
   
    text-align:center
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* -----**Information-Ending**----- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* -----**sponsor-starting**----- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#sponsor{
box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74);
transition: 0.5s;
transform:scale(.9);
z-index: -1;
}
#sponsor:hover{
    transform:scale(1);
box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.74); 
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*  -----**sponsor-ending**----- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*  -----**card-footer-starting**----- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.fas{
    color:rgb(135, 158, 235);
}
.status{
    color:rgb(135, 158, 235)
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*  -----**card-footer-ending**----- */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */




